.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
}

.navbar_logo img {
  width: 220px;
  padding-left: 20px;
}

.position-navbar {
  width: 20%;
  max-width: 200px;
  min-width: 120px;
  margin-right: 40px;
  text-align: center;
  border-bottom: 1px solid red;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
}

.role {
  font-weight: bold;
  font-size: 23px;
}

.email {
  font-size: 16px;
  color: gray;
}

.admin-button {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.admin-button:hover {
  background-color: #cc0000;
}
